<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>


<header class="container-fluid bg-dark">
    <div class="row">
        <div class="col-4 d-flex align-items-center">
            <span class="text-white  align-items-center" th:text="${currentUser.getUsername()}"></span>
            <span class="text-white align-items-center">&nbsp;with role:&nbsp;</span>
            <span class="text-white align-items-center" th:text="${currentUser.getRolesName()}"></span>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <form class="d-flex justify-content-end" method="post" action="/logout">
                <input class="text-muted btn btn-dark" type="submit" value="Logout">
            </form>
        </div>
    </div>
</header>


<div class="container-fluid">
    <div class="row">


        <div class="col-2 p-0 pt-3">
            <ul class="list-group">
                <a href="#"
                   th:href="@{/user/{name}(name=${currentUser.getUsername()})}"
                   class="list-group-item list-group-item-action">
                    User
                </a>
                <a sec:authorize="hasRole('ADMIN')" href="/admin"
                   class="list-group-item list-group-item-action active">
                    Admin
                </a>
            </ul>
        </div>


        <div class="col-10">
            <p>
            <h1 class="text-weight-bold">Admin panel</h1>
            </p>

            <!--Top panel-->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" disabled="true">Admin panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/new_user">New User</a>
                </li>
            </ul>


            <table class="table">
                <thead>
                <tr>
                    <th colspan="5" scope="col border-start">All users</th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Firs Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <thead>
                <tr data-th-each="some_user : ${userList}" th:id="${some_user.id}">
                    <th class="font-weight-normal" scope="col" type="number" name="id" th:text="${some_user.getId()}"></th>
                    <th class="font-weight-normal" scope="col" type="text" name="firstName" th:text="${some_user.getFirstName()}">
                    </th>
                    <th class="font-weight-normal" scope="col" type="text" name="lastName" th:text="${some_user.getLastName()}">
                    </th>
                    <th class="font-weight-normal" scope="col" type="number" name="age" th:text="${some_user.getAge()}">
                    </th>
                    <th class="font-weight-normal" scope="col" type="email" name="email" th:text="${some_user.getUsername()}">
                    </th>
                    <th class="font-weight-normal" scope="col" type="text" name="role" th:text="${some_user.getRolesName()}">
                    </th>
                    <th scope="col">
                        <button type="button" class="btn btn-info" data-list="#list-1"
                                data-index="edit" data-id="-1" th:attr="data-id = ${some_user.getId()}">Edit
                        </button>
                    </th>
                    <th scope="col">
                        <button type="button" class="btn btn-danger" data-list="#list-2"
                                data-index="delete" data-id="-1" th:attr="data-id = ${some_user.getId()}">Delete
                        </button>
                    </th>
                </tr>
                </thead>
            </table>
            <!--MODAL WINDOW-->
            <div class="modal fade" id="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">Title</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body container">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">

                                    <form class="form" id="my-modal-form" th:object="${user}"
                                          th:method="put">
                                        <!--ID-->
                                        <label for="user-id" class="d-flex justify-content-center">ID</label>
                                        <input type="text" name="id" id="user-id" th:value="*{id}"
                                               class="form-control d-flex justify-content-center" disabled/>
                                        <!--First Name-->
                                        <label for="user-firstName" class="d-flex justify-content-center">First
                                            name</label>
                                        <input type="text" name="firstName" id="user-firstName" th:value="*{firstName}"
                                               class="form-control d-flex justify-content-center"/>
                                        <!--Last Name-->
                                        <label for="user-lastName" class="d-flex justify-content-center">Last
                                            name</label>
                                        <input type="text" name="lastName" id="user-lastName" th:value="*{lastName}"
                                               class="form-control d-flex justify-content-center"/>
                                        <!--AGE-->
                                        <label for="user-age" class="d-flex justify-content-center">Age</label>
                                        <input type="number" name="age" id="user-age" th:value="*{age}"
                                               class="form-control d-flex justify-content-center"/>
                                        <!--Email-->
                                        <label for="user-email" class="d-flex justify-content-center">Email</label>
                                        <input type="text" name="username" id="user-email" th:value="*{username}"
                                               class="form-control d-flex justify-content-center"/>
                                        <!--Password-->
                                        <label for="user-password"
                                               class="d-flex justify-content-center">Password</label>
                                        <input type="password" name="password" id="user-password" th:value="*{password}"
                                               class="form-control d-flex justify-content-center"/>
                                        <!--ROLES-->
                                        <label for="roles" class="d-flex justify-content-center">Roles</label>
                                        <!--Button-->
                                        <select id="roles" class="list-group-item list-group-item-action"
                                                th:field="*{stringRoles}"
                                                th:multiple="${true}" size="2">
                                            <option class="list-group-item-action"
                                                    th:each="role : ${user_roles}" th:value="${role}"
                                                    th:text="${role.getRoleWithoutPref()}">Role
                                            </option>
                                        </select>
                                        <br/>
                                        <!--Button close-->
                                        <button type="button" class="btn btn-secondary justify-content-end"
                                                data-dismiss="modal">Close
                                        </button>
                                        <!--Button Edit-->
                                        <button type="submit"
                                                class="btn btn-primary justify-content-end" th:form="my-modal-form"
                                                id="buttonEdit">Edit
                                        </button>
                                        <!--Button Delete-->
                                        <button type="submit"
                                                class="btn btn-danger justify-content-end"
                                                th:form="form-delete"
                                                id="buttonDelete">Delete
                                        </button>
                                    </form>
                                    <form class="form d-none" id="form-delete" th:method="delete">
                                    </form>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous">
            </script>

            <script>
                // после загрузки страницы
                document.addEventListener('DOMContentLoaded', function () {
                    const elemModal = document.querySelector('#modal');
                    const modal = new bootstrap.Modal(elemModal);
                    document.addEventListener('click', function (e) {
                        const target = e.target;

                        if (!target.dataset.list) {
                            return;
                        }

                        $("#buttonEdit").removeClass("d-none");
                        $("#buttonDelete").removeClass("d-none");

                        let buttonName = target.textContent;
                        let buttonID = target.dataset.id;

                        if (buttonName.length > 30) {
                            $("#buttonEdit").addClass("d-none");
                            $("#my-modal-form").children("input").attr("disabled", true);
                            $("#roles").attr("disabled", true);
                            $("#form-delete").attr("action","/admin/deleteUser/" + buttonID);
                            $("#modalTitle").text("Delete user")
                        } else {
                            $("#buttonDelete").addClass("d-none");
                            $("#my-modal-form").children("input").attr("disabled", false);
                            $("#user-id").attr("disabled", true);
                            $("#my-modal-form").attr("action", "/admin/updateUser/" + buttonID);
                            $("#modalTitle").text("Edit user")
                        }

                        let user = $("#" + buttonID).children();
                        $("#user-id").val(user.get(0).textContent);
                        $("#user-firstName").val(user.get(1).textContent);
                        $("#user-lastName").val(user.get(2).textContent);
                        $("#user-age").val(user.get(3).textContent);
                        $("#user-email").val(user.get(4).textContent);
                        modal.show();
                    });
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>